@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Pages/Layouts/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>@Page.Name</title>
</head>
<body>
    <header class="cont_title">
        <h1>Users and Awards</h1>
    </header>
    <nav class="main-menu" id="main-menu">
        <ul>    
            <li><a href="~/Pages/Users.cshtml">Users</a></li>
            <li><a href="~/Pages/Main.cshtml">Main</a></li>
            <li><a href="~/Pages/Awards.cshtml">Awards</a></li>
        </ul>
    </nav>
    
    @RenderBody()
</body>
</html>

