
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Pages/Layouts/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>@Page.Name</title>
</head>
<body>
    <div class="back">
        <div class="cont_title">
            Users and Awards
        </div>
        <nav class="main-menu" id="main-menu">
            <ul class="main-menu">
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="~/Pages/Auth/UsersAwards.cshtml">List</a></li>
                        <li><a href="~/Pages/Auth/Users.cshtml">Users</a></li>
                        <li><a href="~/Pages/Auth/Profile.cshtml">Profile</a></li>
                        <li><a href="~/Pages/Auth/Awards.cshtml">Awards</a></li>

                        if (Roles.IsUserInRole(User.Identity.Name, "Moderator") || Roles.IsUserInRole(User.Identity.Name, "Admin"))
                        {
                            <li><a href="~/Pages/Moderator/ModeratePanel.cshtml">Moderate</a></li>
                        }
                        if (Roles.IsUserInRole(User.Identity.Name, "Admin"))
                        {
                            <li><a href="~/Pages/Admin/AdminPanel.cshtml">Admin</a></li>
                        }
                        <li><a href="~/Pages/Auth/SignOut.cshtml">Sign Out</a></li>
                    }
                    else
                    {
                        if (Page.Name == "Registration")
                        {
                            <li style="background-color:white"><a href="~/Pages/NonAuth/Register.cshtml">Register</a></li>
                        }
                        else
                        {
                            <li><a href="~/Pages/NonAuth/Register.cshtml">Register</a></li>
                        }
                        if (Page.Name == "Login")
                        {
                            <li style="background-color:white"><a href="~/Pages/NonAuth/Login.cshtml">Sign In</a></li>
                        }
                        else
                        {
                            <li><a href="~/Pages/NonAuth/Login.cshtml">Sign In</a></li>
                        }
                        if (Page.Name == "Users")
                        {
                            <li style="background-color:white"><a href="~/Pages/NonAuth/Users.cshtml">Users</a></li>
                        }
                        else
                        {
                            <li><a href="~/Pages/NonAuth/Users.cshtml">Users</a></li>
                        }

                    }
                }
            </ul>
        </nav>

        @RenderBody()
    </div>
</body>
</html>

