@using Entities;
@using BAL;

@{
    Layout = "~/Pages/Layouts/_MainLayout.cshtml";
}

@{
    IAwardAssotiateLogic awardManagerLogic = new AwardLogic();
    IUserLogic userManagerLogic = new UserLogic();

    awardManagerLogic.LoadData();
    userManagerLogic.LoadData();

    var tempA = awardManagerLogic.GetAllAssotiations();
    var tempU = userManagerLogic.GetAll();


}
    <table>
        <col width="100" />
        <col width="250" />
        <col width="450" />
        @foreach (var item in tempU)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                
                @{var r = from i in tempA where (i.firstID == item.Id) select i.secondID;
                    string awards = "";
                    if (r.Count() > 0)
                    {
                        foreach (var item1 in r)
                        {
                            awards += awardManagerLogic.Find(item1).Name + " ";
                        }
                    }
                }
                <td>
                    @awards
                </td>
            </tr>
        }
    </table>

   
