@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Pages/Layouts/style.css">
    <title>@Page.Name</title>
</head>
<body>
    <header>
        Users and Awards
    </header>
    <nav class="menu">
        <ul>
            <li><a href="~/Pages/Users.cshtml">Users</a></li>
            <li><a href="~/Pages/Main.cshtml">Main</a></li>
            <li><a href="~/Pages/Awards.cshtml">Awards</a></li>

        </ul>
    </nav>
    
    @RenderBody()
</body>
</html>
