
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Pages/Layouts/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>@Page.Name</title>
</head>
<body>
    <div class="back">
        <div class="cont_title">
            
        </div>  
        <nav class="main-menu" id="main-menu">
            <ul class="main-menu">
                
            </ul>
        </nav>

        @RenderBody()
    </div>
</body>
</html>

