@using Watermarks.Common

@{
    Layout = "~/Pages/Auth/Layouts/_Layout.cshtml";
    Page.Name = "Profile";


    var userlogic = DependencyResolver.UserLogic;

    var user = userlogic.FindByLogin(User.Identity.Name);
}

<div class="prfl-left-col-back">
    <div class="prfl-img">
        
    </div>
</div>
<div class="prfl-right-col-back">
    <label class="prfl-name">@user.First_Name </label>
    <label class="prfl-dob">@user.First_Name </label>
</div>