@using Entities;
@using BAL;

@{
    Layout = "~/Pages/Admin/_Layout.cshtml";
    Page.Name = "Admin";

    ISecretLogic secretLogic = new SecretLogic(System.Web.Hosting.HostingEnvironment.MapPath("~/Data/logpas.txt"));
    secretLogic.LoadData();

    var temp = secretLogic.GetAllUsers();


    if (IsPost)
    {
        if (Request.Form.AllKeys.Contains("add"))
        {
            Roles.AddUserToRole(Request["add"], "Moderator");
        }
        if (Request.Form.AllKeys.Contains("rem"))
        {
            Roles.RemoveUserFromRole(Request["rem"], "Moderator");
        }
    }
}

<div class="admin-table">
    <table class="admin-table">
        <colgroup>
            <col width="100" />
            <col width="350" />
            <col width="350" />
        </colgroup>
        @foreach (var item in temp)
        {
            <tr>
                <td>
                    @secretLogic.GetIdByLogin(item)
                </td>
                <td>
                    @item
                </td>
                <td>
                    @if (Roles.IsUserInRole(item, "Moderator"))
                    {
                        <form method="post">
                            <input type="text" hidden name="rem" value="@item" />
                            <button class="admin-button-no" value="remove"></button>
                        </form>
                    }
                    else
                    {
                        <form method="post">
                            <input type="text" hidden name="add" value="@item" />
                            <button class="admin-button-ok" value="move"></button>
                        </form>
                    }
                </td>
            </tr>
        }
    </table>
</div>

