@using Watermarks.Common

@{
    Layout = "~/Pages/NonAuth/Layouts/_Layout.cshtml";
    Page.Name = "Registration";
    string errormess = "";


    if (IsPost)
    {


        if (Request.Form.AllKeys.Contains("login") && Request.Form.AllKeys.Contains("password"))
        {
            try
            {
                var authlogic = DependencyResolver.AuthLogic;
                var userlogic = DependencyResolver.UserLogic;
                var login = Request["login"];
                var pass = Request["password"];

                if (userlogic.FindByLogin(login) == null)
                {
                    authlogic.Register(login, pass);
                }

                Roles.AddUserToRole(login, "User");
                FormsAuthentication.SetAuthCookie(login, false);
                Response.Redirect("~/Pages/Auth/Profile.cshtml");
            }
            catch (Exception e)
            {
                errormess = e.Message;
            }
        }
    }
}
<script>
    function checkPasswordMatch() {
        var password = $("#password").val();
        var confirmPassword = $("#password2").val();

        if (password != confirmPassword) {
            $("#password2").css('background-color', 'palevioletred');
        } else {
            $("#password2").css('background-color', 'greenyellow');
        }
    }
    $(document).ready(function () {

        $('input[type="file"]').change(function () {
            var value = $("input[type='file']").val();
            $('#filepath').text(value);
            $('#filepath').css('color', 'green');
        });

    });
</script>

<div class="signin">
    <form method="post" enctype="multipart/form-data">
        <h2>Registration</h2>
        <div>
            <label for="login">Login</label>
            <input required type="text" name="login" placeholder="">
        </div>
        <div>
            <label for="password">Password</label>
            <input required type="password" name="password" id="password" placeholder="">
        </div>
        <div>
            <label for="password2">Confirm password</label>
            <input required type="password" name="password2" id="password2" placeholder="" onkeyup="checkPasswordMatch()">
        </div>        

        <input class="dws-submit" type="submit" name="submit" value="Sign up"><br />
    </form>
    <h3>@errormess</h3>
</div>
