@using Watermarks.Common

@{
    Layout = "~/Pages/NonAuth/Layouts/_Layout.cshtml";
    Page.Name = "Registration";
    string errormess = "";


    if (IsPost)
    {


        if (Request.Form.AllKeys.Contains("login") && Request.Form.AllKeys.Contains("password"))
        {
            try
            {
                var authlogic = DependencyResolver.AuthLogic;
                var userlogic = DependencyResolver.UserLogic;
                var filestoragelogic = DependencyResolver.FileStorageLogic;
                var login = Request["login"];
                var pass = Request["password"];
                var email = Request["email"];
                var name = Request["name"];

                if (userlogic.FindByLogin(login) == null)
                {
                    authlogic.WideRegister(login, name, pass, email);
                    filestoragelogic.AddFolderForUser(login);
                    Roles.AddUserToRole(login, "User");
                    FormsAuthentication.SetAuthCookie(login, false);
                }

               
                Response.Redirect("~/Pages/Auth/Profile.cshtml");
            }
            catch (Exception e)
            {
                errormess = e.Message;
            }
        }
    }
}
<script>
    function checkPasswordMatch() {
        var password = $("#password").val();
        var confirmPassword = $("#confirm").val();

        if (password != confirmPassword) {
            $("#confirm").css('background-color', 'palevioletred');
        } else {
            $("#confirm").css('background-color', 'greenyellow');
        }
    }
</script>



<div class="container">
<div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">Register</div>
                            <div class="card-body">

                                <form class="form-horizontal" method="post" action="#">

                                    <div class="form-group">
                                        <label for="name" class="cols-sm-2 control-label">Your Name</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="name" id="name" placeholder="Enter your Name" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="cols-sm-2 control-label">Your Email</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="login" class="cols-sm-2 control-label">Login</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="login" id="login" placeholder="Enter your Login" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="cols-sm-2 control-label">Password</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <input class="btn btn-primary btn-lg btn-block login-button" type="submit" name="submit" value="Sign up"><br />
                                    </div>                                    
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
</div>

